In [20]:
import pandas as pd

In [21]:
#Leitura dos arquivos
df1 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/datasets/Salvador.xlsx")

In [5]:
#exibindo as linhas do arquivo
df1.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [23]:
#juntando todos os arquivos
df = pd.concat([df1, df2, df3, df4, df5])

In [7]:
#exibindo as 5 primeiras linhas do arquivo
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [8]:
#exibindo as 5 últimas linhas do arquivo
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [13]:
#Visualizar uma amostra do conteúdo do arquivo
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
77    Salvador 2019-01-01  218.76    1037     1
112      Natal 2019-01-02   43.00    1036     3
108     Recife 2019-03-02  152.89     981     4
133  Fortaleza 2019-03-02   14.67     980     7
32    Salvador 2019-01-01  151.27    1035     1

In [14]:
#Verificando o tipo de dados de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [16]:
#Alterar tipo de dado
df["LojaID"] = df["LojaID"].astype("object")

In [17]:
#Verificando o tipo de dados de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

**Tratando Valores Faltantes**

In [29]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [25]:
#Substituíndo os valores nulos pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [27]:
df["Vendas"].mean()

122.88123595505617

In [26]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [28]:
#Substituíndo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [30]:
#Apagando linhas com valores nulos
df.dropna(inplace=True)

In [31]:
#Apagando as linhas com valores nulos com base apenas em uma coluna
df.dropna(subset=["Vendas"], inplace=True)

In [32]:
#Remover linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

Criando novas Colunas

In [34]:
#Criando coluna de receita(Vendas * Qtde)
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [35]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00  1520.0   1.0   142.00
1  Aracaju 2018-01-01   14.21  1522.0   6.0    85.26
2  Aracaju 2018-01-01   71.55  1520.0   1.0    71.55
3  Aracaju 2018-01-01    3.01  1521.0   7.0    21.07
4  Aracaju 2018-01-01   24.51  1522.0   8.0   196.08

In [36]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [37]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [38]:
#nlargest, retorna a quantidade de linhas (definir na linha de comando) com as maiores receitas
df.nlargest(5, "Receita")

   Cidade       Data  Vendas  LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0   853.0   4.0   3544.0
51  Natal 2018-01-21   859.0   852.0   4.0   3436.0
55  Natal 2019-01-08   859.0   854.0   4.0   3436.0
30  Natal 2018-10-02   856.0   853.0   4.0   3424.0
41  Natal 2018-05-20   835.0   852.0   4.0   3340.0

In [39]:
#nsamllest, retorna a quantidade de linhas (definir na linha de comando) com as menores receitas
df.nsmallest(5, "Receita")

       Cidade       Data  Vendas  LojaID  Qtde  Receita
118   Aracaju 2018-01-01    3.34  1522.0   1.0     3.34
65     Recife 2019-01-01    4.01   981.0   1.0     4.01
92      Natal 2019-01-02    4.57  1035.0   1.0     4.57
92   Salvador 2019-01-01    4.57  1035.0   1.0     4.57
95      Natal 2019-01-02    5.13  1035.0   1.0     5.13

In [40]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       49953.237191
Fortaleza     37913.970000
Natal        167227.520000
Recife        51936.510000
Salvador      40596.730000
Name: Receita, dtype: float64

In [41]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas  LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0   853.0   4.0   3544.0
51  Natal 2018-01-21   859.0   852.0   4.0   3436.0
55  Natal 2019-01-08   859.0   854.0   4.0   3436.0
30  Natal 2018-10-02   856.0   853.0   4.0   3424.0
41  Natal 2018-05-20   835.0   852.0   4.0   3340.0
10  Natal 2018-10-27   828.0   852.0   4.0   3312.0
38  Natal 2018-02-25   828.0   852.0   4.0   3312.0
69  Natal 2019-03-24   817.0   852.0   4.0   3268.0
62  Natal 2018-02-10   793.0   854.0   4.0   3172.0
52  Natal 2018-04-27   778.0   854.0   4.0   3112.0